/* < http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/*
  base font-size: 18px
  base line-height: 22px
  1.618/Phi is our modular scale:
  https://www.modularscale.com/?18&px&1.618
*/
/*basic baseline grid*/
html {
  background-color: rgba(190, 206, 218);
  color: #EEE;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.618em; /* 29.124 / 18 = 1.618 */
  line-height: 1.5107814861em; /* 44 / 29.124 = 1.5107814861 */
  padding-bottom: 0.667em; /* 12 / 18 =0.667 */
  text-align: center;
}
p{
  font-size:1.1em; 
  line-height:1.5em;
  padding-bottom: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}
/* Forms */


input,
label {
  display: block;
  margin: auto;
  position: center;
}
#header{
  font-size: 1.60em;
  line-height: 1.60em;
  text-align: center;
}
#footer p{
  font-size: 0.6em;
  text-align: center;
  padding-top:1.2222222222em; 
}

input {
  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  width: 50%;
  flex: 1 0 auto;
}

/*Name*/
input[type="text"] {
  margin-bottom: 0.611em; /* 11 / 18 = .611 */
  background-color: rgba(190, 206, 218);
  border-bottom:2px solid white;
  text-align: center;
}

input[type="text"]:focus{
  background-color: rgba(137, 163, 183,0.2);
  color:white;
}
/* Phone Number */
input[type="tel"] {
  margin-bottom: 0.611em; /* 11 / 18 = .611 */
  background-color: rgba(190, 206, 218);
  border-bottom:2px solid white;
  text-align: center;
}
input[type="tel"]:focus {
  background-color: rgba(137, 163, 183,0.2);
  color:white;
}
/*Email Address*/
input[type="email"] {
  background-color: rgba(190, 206, 218);
  border-bottom:2px solid white;
  text-align: center;
}

input[type="email"]:focus {
  background-color: rgba(137, 163, 183,0.2);
  color:white;
}

/* Submit */
input[type="submit"] {
  background-color: rgba(29, 67, 97,0.5);
  color:white;
}
input[type="submit"]:focus{
  background-color: rgba(29, 67, 97);
}
#submit{
  border:none;
  width: 30%;
  position: center;
  font-family:sans-serif;
  color: white;
}
